<!DOCTYPE html>
<html>

<head>
    <title>
        Slack page
    </title>
    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav2/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav2/favicon-16x16.png">
    <link rel="manifest" href="/fav2/site.webmanifest">
    <link rel="mask-icon" href="/fav2/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />
    <link href='css/slack.css' rel='stylesheet' />

    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>
    <div class="page">
        <section class="page_section">
            <div class="page_content hero_section">
                <div class="hero">
                    <div class="hero_content">
                        <span class="hero_label">SLACK FEATURES</span>
                        <h1 class="hero_title">One platform for your team and your work</h1>
                        <p class="hero_info double_line">All the features of Slack work together so you can, too.</p>
                        <div class="hero_buttons">
                            <a href="#" class="button button_primary click">Try for free</a>
                            <a href="#" class="button button_secondary click">See all features</a>
                        </div>
                        <img src="/css/img/hero.jpg" alt="Hero" class="hero_image">
                    </div>
                </div>

                <div class="brands">
                    <img src="css/img/brands/airbnb.png" alt="airbnb" class="brands_image">
                    <img src="css/img/brands/target.png" alt="target" class="brands_image">
                    <img src="css/img/brands/uber.png" alt="uber" class="brands_image">
                    <img src="css/img/brands/onemedical.png" alt="onemedical" class="brands_image">
                    <img src="css/img/brands/newscorp.png" alt="newscorp" class="brands_image">
                    <img src="css/img/brands/VA.png" alt="VA" class="brands_image">
                    <img src="css/img/brands/intuit.png" alt="intuit" class="brands_image">
                    <img src="css/img/brands/sonos.png" alt="sonos" class="brands_image">
                </div>
            </div>
        </section>
        <section class="page_section page_section_light">
            <div class="page_content features_section">
                <h2 class="features_title">Work more easily with everyone</h2>
                <p class="double_line">Stay on the same page and make decisions faster by bringing all of your
                    work communication into one place.</p>
                <div class="features_grid_4">
                    <div class="feat_card">
                        <span class="icon feat_icon"
                            style="background-image: url('/css/svg/features/slackconnect.svg')"></span>
                        <strong class="feat_card_title">Slack Connect</strong>
                        <p class="feat_card_description double_line">Collaborate with teams at other
                            companies the same way you do
                            with teams at your own.</p>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/css/svg/channels.svg')"></span>
                        <strong class="feat_card_title">Channels</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/css/svg/huddles.svg')"></span>
                        <strong class="feat_card_title">Huddles</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/css/svg/clips.svg')"></span>
                        <strong class="feat_card_title">Clips</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/css/svg/canvas.svg')"></span>
                        <strong class="feat_card_title">Canvas</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/css/svg/messaging.svg')"></span>
                        <strong class="feat_card_title">Messaging</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/css/svg/accessibility.svg')"></span>
                        <strong class="feat_card_title">Accessibility</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="page_section page_section_light">
            <div class="page_content feat_next_section">
                <div class="feat_head">
                    <h3 class="feat_next_title">What you need, when you need it</h3>
                    <p class="double_line">Spend less time shuffling tabs with a comprehensive message archive and
                        all your work tools at your fingertips.</p>
                </div>
                <div class="feat_next_3">
                    <div class="feat_card">
                        <span class="icon feat_icon"
                            style="background-image: url('/css/svg/features/appsintegr.svg')"></span>
                        <strong class="feat_card_title">Apps and Integrations</strong>
                        <p class="feat_card_description double_line">Streamline work by connecting
                            Slack with other services like
                            Google Drive, Office 365 and
                            over 2,200 more.</p>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                    <div class="feat_card">
                        <span class="icon feat_icon"
                            style="background-image: url('/css/svg/features/builder.svg')"></span>
                        <strong class="feat_card_title">Workflow Builder</strong>
                        <p class="feat_card_description double_line">Automate routine actions and
                            communication, so you can get
                            back to the kind of work only
                            humans can do.</p>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                    <div class="feat_card">
                        <span class="icon feat_icon"
                            style="background-image: url('/css/svg/features/search.svg')"></span>
                        <strong class="feat_card_title">Channels</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                    <div class="feat_card">
                        <span class="icon feat_icon"
                            style="background-image: url('/css/svg/features/sharing.svg')"></span>
                        <strong class="feat_card_title">Channels</strong>
                        <a href="#" class="icon icon_arrow click feat_link"></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="page_section">
            <div class="page_content hero_section">
                <div class="hero_2">
                    <div class="hero_content_2">
                        <img src="/css/img/deliver.png" alt="Hero" class="hero_image_2">
                        <p class="hero_info_2">“The thing that keeps us connected
                            the most is Slack. It’s a very
                            immediate and straightforward
                            method of communication, and
                            really the only channel that people
                            prefer and enjoy using.”</p>
                        <img src="css/img/brands/delivero.png" alt="deliveroo" class="brands_image">
                        <span class="hero_label">Will Sprunt, CIO, Deliveroo</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="page_section">
            <div class="page_content home_section">
                <h4 class="card_title">Explore more about working in Slack</h4>
                <div class="cards">
                    <div class="card">
                        <div class="card_info">
                            <img src="/css/img/slack101.jpg" alt="CardPhoto" class="card_image">
                            <div class="card_main">
                                <span class="card_name">Slack Tutorials</span>
                                <p class="card_text">Slack 101</p>
                            </div>
                        </div>
                        <div class="card_link">
                            <a href="#" type="button" class="card_button click">Learn more</a>
                            <a href="#" class="icon icon_arrow_blue click feat_link"></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_info">
                            <img src="/css/img/slackemail.png" alt="CardPhoto">
                            <div class="card_main">
                                <span class="card_name">Slack vs. Email</span>
                                <p class="card_text">An easier, more
                                    organized way to work</p>
                            </div>
                        </div>
                        <div class="card_link">
                            <a href="#" type="button" class="card_button click">Learn more</a>
                            <a href="#" class="icon icon_arrow_blue click feat_link"></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_info">
                            <img src="/css/img/customers.jpg" alt="CardPhoto" class="card_image">
                            <div class="card_main">
                                <span class="card_name">Customer Stories</span>
                                <p class="card_text">How Fastly uses Slack
                                    Connect to wow
                                    enterprise customers</p>
                            </div>
                        </div>
                        <div class="card_link">
                            <a href="#" type="button" class="card_button click">Learn more</a>
                            <a href="#" class="icon icon_arrow_blue click feat_link"></a>
                        </div>
                    </div>
                </div>
        </section>
    </div>
</body>

</html>